header{
  background: #BBBBBB;
  padding: 20px 0;
}

.caixa{
  position: relative;
  width: 1040px;
  margin: 0 auto;
}

nav li{
  display: inline;
  margin: 0 0 0 20px;
}

nav{
  position: absolute;
  top: 110px;
  right: 0;
}

nav a{

  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  color: #000000
}

nav a:hover{
  color: #C78C34;
  text-decoration: underline;
}

.produtos ul{
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.produtos li{

  display: inline-block;
  text-align: center;
  width: 30%;
  vertical-align: top;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: solid #000000 2px;
  border-radius: 20px;
}

.produtos li:hover {
  border-color: #C78C34;
}

.produtos li:hover h2{
font-size: 34px;

}

.produtos li:active{
  border-color: aquamarine;
}

.produtos h2{
  font-size: 30px;
  font-weight: bold;
}

.descricaoProduto{
  font-size: 18px;


}

.precoProduto{
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

footer{
  background: url("imagens/bg.jpg");
  padding: 40px 0;  
  text-align: center;
}

.rodape{

  font-size: 15px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 20px;
}

